html,
body {
    display: block;
    margin: 0px;
    height: 100%;
}

#Title{
    font-weight:bold;
    font-size: 40px;
    font-family: 'Papyrus';
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #013D60;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
}

#left-half{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 10%;
}

#center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    width: 60%;
}

#right-half{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    text-align: left;
    width: 30%;
}
#canvas_contain{
    display: flex;
    flex-direction: row;
}
.canvas{
    width:280px;
    height:280px;
    background-color:#D9D9D9;
}

.hidden_canvas{
    width: 28px; 
    height: 28px; 
    background-color: white; 
    display: none; 
}

.Rule{
    font-family: 'Papyrus';
}

.Button{
    font-weight:bold;
    color: white;
    font-size: 30px;
    font-family: 'Papyrus';
    text-align: center;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 30px;
    background-color: #013D60;
}

.answer{
    font-weight:bold;
    font-size: 20px;
    font-family: 'Papyrus';
    text-align: center;
    padding: 10px;
    /* margin-bottom: 0px; */
}

#answer1{
    background: #0E5E8B;
}
#answer2{
    background: #1874A8;
}
#answer3{
    background: #31A2E2;
}
#answer4{
    background: #62B5E4;
}
#answer5{
    background: #70C0ED;
}
#answer6{
    background: #83CCF4;
}
#answer7{
    background: #B0DEF8;
}
#answer8{
    background: #D1ECFC;
}
#answer9{
    background: #DFEAF0;
}
#answer10{
    background: #EFF5F8;
}

